.mat-card {
    width: 90%;
    margin: 5em auto;
    max-width: 640px;
}

.container {
    max-width: 90%;
    margin: auto;
}

h2, h3 {
    text-align: left;
    margin-left: 5%;
    margin-top: 1em;
    font-weight: 500;
}

.form-book {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    &__main {
        width: 100%;
        padding: 2em 0;
    }
    &__footer {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 90%;
        gap: 2em;
        padding: 0.5em 0;
        margin: 1em auto;
    }
    .btn-search {
        justify-content: flex-end;
        display: flex;
        flex-grow: 1;
    }
    .form-field {
        display: flex;
        align-items: center;
        gap: 2em;
        margin: auto;
    }
    mat-form-field {
        width: 100%;
        // font-size: 1rem;
    }
    textarea {
        max-height: 250px;
    }
}

.mat-button-base {
    min-width: 140px;
    max-width: 200px;
    width: 25%;
}
