.mat-dialog-content {
    padding: 2em 2rem;
    gap: 1em;
    display: flex;
    flex-wrap: wrap;
    text-align: left;
}

.mat-dialog-actions {
    display: flex;
    justify-content: space-between;
}
